{{ define "main" }}
<style>
  .header-transparent {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    background: linear-gradient(146deg, #4AAACB 0%, #6E67DF 47.92%, #C55BFE 100%) !important;
    margin-top: 0px;
    box-shadow: none;
    backdrop-filter: blur(10px)
  }
</style>
<!-- Recent Posts -->
<section class="trending__area pt-10 pb-110 grey-bg">
  <div class="container mt-20">
    <div class="postbox__recent mb-60">

      <h2 class="mb-20" style="text-transform: capitalize;">{{ .Title }}</h2>
      <div class="mb-20">
        {{ .Content }}
      </div>
      <div class="row">
        {{/*  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }} */}}
        {{/*  {{ range $paginator.Pages }} */}}
        {{ range (.Paginator 6).Pages }}
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 blog-card h-100">
          <div class="blog__single-2 white-bg mb-30 p-0">
            <div class="blog__thumb-2 w-img mb-20">
              <a href="{{ .RelPermalink }}">
                <img  src="{{ .Params.banner }}" alt="{{ .LinkTitle }}">
              </a>
            </div>
            <div class="blog__content-2">
              <div class="postbox__meta d-flex">
                <div class="postbox__tag-2">
                  <span>{{ with .Params.categories }}
                    {{ range . }}
                    <a href="{{ "/categories/" | relURL }}{{ . | urlize }}"> <i class="fad fa-folder-open fa-lg"></i>  {{ . }} </a>
                    {{ end }}
                    {{ end }}</span>
                  {{/*  {{ .Params.categories }} */}}
                </div>
                <div class="postbox__time">
                  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                  {{ $dateHuman := .Date | time.Format ":date_long" }}
                  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </div>
              </div>
              <h5 class="blog__title-2"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
              <!-- <p>Jeffrey arse over tit give us a bell old posh morish wellies cheeky.</p> -->
              <a href="{{ .RelPermalink }}" class="link-btn" style="color:red; font-weight:400"><i
                  class="fal fa-arrow-right"></i>read more</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ end }}